################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/COMP123-S2019-Lab10
/COMP123-S2019-Assignment 4-BMI Calculator App/COMP123-S2019-Assignment 4-BMI Calculator App/obj/Release
/.vs
/COMP123-S2019-Assignment 4-BMI Calculator App/.vs/COMP123-S2019-Assignment 4-BMI Calculator App/v16
/COMP123-S2019-Assignment 4-BMI Calculator App/COMP123-S2019-Assignment 4-BMI Calculator App/bin/Debug
/COMP123-S2019-Assignment 4-BMI Calculator App/COMP123-S2019-Assignment 4-BMI Calculator App/obj/Debug
/COMP123-S2019-Assignment 5-Dollar Computers/COMP123-S2019-Assignment 5-Computers/.vs/COMP123-S2019-Assignment 5-Computers/v16
